<a href="https://colab.research.google.com/github/Shibata18/DataSciencePandas/blob/master/5_7_Limpeza_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **5.7  Limpeza dos dados**



1.   Carregar o seu arquivo OVNIS.csv em um dataframe;

1.   Remover registros que tenham valores vazios (None, Unknown, ...) para City, State e Shape;
1.   
Manter somente os registros referentes aos ([51 estados dos Estados Unidos](https://raw.githubusercontent.com/oliveirafhm/data_science/master/usa_states.csv))
2.   Remover variáveis irrelevantes para a análise (Duration, Summary e Posted);
2.   
Manter somente os registros de Shapes mais populares (com mais de 1000 ocorrências);
2.   Salvar o dataframe final em um arquivo CSV com o nome "df_OVNI_limpo".

In [ ]:
#Carregando o arquivo OVNIS.csv em um Dataframe
ovnis = pd.read_csv('OVNIS.csv')
ovnis

         Date / Time  ...    Posted
0      9/30/97 20:00  ...  10/30/06
1      9/22/97 20:00  ...    8/5/09
2            9/19/97  ...   12/1/19
3      9/18/97 20:15  ...   3/13/12
4      9/15/97 00:00  ...   7/19/10
...              ...  ...       ...
71896   8/1/17 02:45  ...    8/4/17
71897   8/1/17 02:00  ...    8/4/17
71898   8/1/17 01:00  ...    5/9/19
71899   8/1/17 00:00  ...   2/13/20
71900         8/1/17  ...   6/25/20

[71901 rows x 7 columns]

In [ ]:
#Remover registros que tenham valores vazios (None, Unknown, ...) para City, State e Shape;
ovnis.drop(ovnis.index[ovnis['City'] == 'None'], inplace = True)
ovnis.drop(ovnis.index[ovnis['City'] == None], inplace = True)
ovnis.drop(ovnis.index[ovnis['State'] == None], inplace = True)
ovnis.drop(ovnis.index[ovnis['Shape'] == 'Unknown'], inplace = True)
ovnis.drop(ovnis.index[ovnis['Shape'] == None], inplace = True)
ovnis.drop(ovnis.index[ovnis['Shape'] == "NaN"], inplace = True)
ovnis['State'].dropna()
ovnis

         Date / Time  ...    Posted
0      9/30/97 20:00  ...  10/30/06
1      9/22/97 20:00  ...    8/5/09
2            9/19/97  ...   12/1/19
4      9/15/97 00:00  ...   7/19/10
5      9/15/97 20:00  ...   11/9/17
...              ...  ...       ...
71896   8/1/17 02:45  ...    8/4/17
71897   8/1/17 02:00  ...    8/4/17
71898   8/1/17 01:00  ...    5/9/19
71899   8/1/17 00:00  ...   2/13/20
71900         8/1/17  ...   6/25/20

[66781 rows x 7 columns]

In [ ]:
states_usa = pd.read_csv('https://raw.githubusercontent.com/oliveirafhm/data_science/master/usa_states.csv')
states_usa

                   State Abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [ ]:
#Manter somente os registros referentes aos (51 estados dos Estados Unidos)
q = """
SELECT * from total where 
 STATE LIKE 'AL'
OR STATE LIKE 'AK' 
OR STATE LIKE 'AZ'
OR STATE LIKE 'AR'
OR STATE LIKE 'CA'
OR STATE LIKE 'CO' 
OR STATE LIKE 'CT' 
OR STATE LIKE 'DE'
OR STATE LIKE 'DC'
OR STATE LIKE 'FL'
OR STATE LIKE 'GA'
OR STATE LIKE 'HI'
OR STATE LIKE 'ID'
OR STATE LIKE 'IL'
OR STATE LIKE 'IN'
OR STATE LIKE 'IA'
OR STATE LIKE 'KS'
OR STATE LIKE 'KY'
OR STATE LIKE 'LA'
OR STATE LIKE 'ME'
OR STATE LIKE 'MT'
OR STATE LIKE 'NE'
OR STATE LIKE 'NV'
OR STATE LIKE 'NH'
OR STATE LIKE 'NJ'
OR STATE LIKE 'NM'
OR STATE LIKE 'NY'
OR STATE LIKE 'NC'
OR STATE LIKE 'ND'
OR STATE LIKE 'OH'
OR STATE LIKE 'OK'
OR STATE LIKE 'OR'
OR STATE LIKE 'MD'
OR STATE LIKE 'MA'
OR STATE LIKE 'MI'
OR STATE LIKE 'MN'
OR STATE LIKE 'MS'
OR STATE LIKE 'MO'
OR STATE LIKE 'PA'
OR STATE LIKE 'RI'
OR STATE LIKE 'SC'
OR STATE LIKE 'SD'
OR STATE LIKE 'TN'
OR STATE LIKE 'TX'
OR STATE LIKE 'UT'
OR STATE LIKE 'VT'
OR STATE LIKE 'VA'
OR STATE LIKE 'WA'
OR STATE LIKE 'WV'
OR STATE LIKE 'WI'
OR STATE LIKE 'WY'
  """
# Executa o seu comando SQL e retorna um dataframe
usa_df = pandasql.sqldf(q.lower(), locals())
usa_df

         Date / Time  ...   Posted
0      9/22/97 20:00  ...   8/5/09
1            9/19/97  ...  12/1/19
2      9/18/97 20:15  ...  3/13/12
3      9/15/97 00:00  ...  7/19/10
4      9/15/97 20:00  ...  11/9/17
...              ...  ...      ...
64967   8/1/17 02:45  ...   8/4/17
64968   8/1/17 02:00  ...   8/4/17
64969   8/1/17 01:00  ...   5/9/19
64970   8/1/17 00:00  ...  2/13/20
64971         8/1/17  ...  6/25/20

[64972 rows x 7 columns]

In [ ]:
#Remover variáveis irrelevantes para a análise (Duration, Summary e Posted);
limpo = usa_df.drop(["Duration", 'Summary' ,'Posted'],axis=1)
limpo

         Date / Time             City State      Shape
0      9/22/97 20:00  Solomons Island    MD       Disk
1            9/19/97     Garden Grove    CA  Rectangle
2      9/18/97 20:15      Panama City    FL    Unknown
3      9/15/97 00:00          Houston    TX       Disk
4      9/15/97 20:00         Santa Fe    NM      Light
...              ...              ...   ...        ...
64967   8/1/17 02:45         Corcoran    MN      Light
64968   8/1/17 02:00    Moreno Valley    CA      Other
64969   8/1/17 01:00        Bradenton    FL      Other
64970   8/1/17 00:00       Springdale    AR       None
64971         8/1/17           Laurel    MD      Other

[64972 rows x 4 columns]

In [ ]:
#Manter somente os registros de Shapes mais populares (com mais de 1000 ocorrências);
shapes_counts = limpo['Shape'].value_counts()
shapes_counts

Light        13944
Circle        7461
Triangle      5946
Fireball      5914
Unknown       4699
Sphere        4552
Other         4110
Oval          2854
Disk          2802
Formation     2128
Changing      1601
Cigar         1305
Flash         1250
Rectangle     1131
Diamond        939
Chevron        699
Teardrop       593
Egg            460
Cone           262
Cross          215
Name: Shape, dtype: int64

In [ ]:
limpo.drop(limpo.index[limpo['Shape'] == "Cylinder"], inplace = True)
limpo.drop(limpo.index[limpo['Shape'] == "Diamond"], inplace = True)
limpo.drop(limpo.index[limpo['Shape'] == "Chevron"], inplace = True)
limpo.drop(limpo.index[limpo['Shape'] == "Teardrop"], inplace = True)
limpo.drop(limpo.index[limpo['Shape'] == "Egg"], inplace = True)
limpo.drop(limpo.index[limpo['Shape'] == "Cone"], inplace = True)
limpo.drop(limpo.index[limpo['Shape'] == "Cross"], inplace = True)

In [ ]:
#Manter somente os registros de Shapes mais populares (com mais de 1000 ocorrências);
shapes_counts = limpo['Shape'].value_counts()
shapes_counts[shapes_counts>1000]

Light        13944
Circle        7461
Triangle      5946
Fireball      5914
Unknown       4699
Sphere        4552
Other         4110
Oval          2854
Disk          2802
Formation     2128
Changing      1601
Cigar         1305
Flash         1250
Rectangle     1131
Name: Shape, dtype: int64

In [ ]:
#Salvar o dataframe final em um arquivo CSV com o nome "df_OVNI_limpo"
limpo.to_csv('df_OVNI_limpo.csv',index=False)
df_OVNI_limpo = pd.read_csv('df_OVNI_limpo.csv')
df_OVNI_limpo

         Date / Time             City State      Shape
0      9/22/97 20:00  Solomons Island    MD       Disk
1            9/19/97     Garden Grove    CA  Rectangle
2      9/18/97 20:15      Panama City    FL    Unknown
3      9/15/97 00:00          Houston    TX       Disk
4      9/15/97 20:00         Santa Fe    NM      Light
...              ...              ...   ...        ...
60817   8/1/17 02:45         Corcoran    MN      Light
60818   8/1/17 02:00    Moreno Valley    CA      Other
60819   8/1/17 01:00        Bradenton    FL      Other
60820   8/1/17 00:00       Springdale    AR        NaN
60821         8/1/17           Laurel    MD      Other

[60822 rows x 4 columns]