<a href="https://colab.research.google.com/github/Shibata18/DataSciencePandas/blob/master/ColetaDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [22]:
td_data = list()
th_data = list()

In [23]:
#1997
print('Ano 1997')
print('Mês 09')
URL = f'http://www.nuforc.org/webreports/ndxe199709.html'
headers={
    'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
}
page = requests.get(URL,headers=headers)
soup = BeautifulSoup(page.content,'html.parser')
table = soup.findAll('table')[0]
tr = table.findAll(['tr'])
try:   
        for cell in tr:
            th = cell.find_all('th')
            th_data.append([col.text.strip('\n') for col in th])
            td = cell.find_all('td')
            row = [i.text.replace('\n','') for i in td]
            td_data.append(row)
finally:   
    print('concluido')

Ano 1997
Mês 09
concluido

In [24]:
#1998 até 1999 e mês de 1 até 9
for i in range(8,10):
  print('Ano 199{}'.format(i))
  for p in range(1,10):
    print('Mês ',p)
    URL = f'http://www.nuforc.org/webreports/ndxe199{i}0{p}.html'
    headers={
        'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
    }
    page = requests.get(URL,headers=headers)
    soup = BeautifulSoup(page.content,'html.parser')
    table = soup.findAll('table')[0]
    tr = table.findAll(['tr'])
    try:   
            for cell in tr:
                th = cell.find_all('th')
                th_data.append([col.text.strip('\n') for col in th])
                td = cell.find_all('td')
                row = [i.text.replace('\n','') for i in td]
                td_data.append(row)
    finally:   
        print('concluido')

Ano 1998
Mês  1
concluido
Mês  2
concluido
Mês  3
concluido
Mês  4
concluido
Mês  5
concluido
Mês  6
concluido
Mês  7
concluido
Mês  8
concluido
Mês  9
concluido
Ano 1999
Mês  1
concluido
Mês  2
concluido
Mês  3
concluido
Mês  4
concluido
Mês  5
concluido
Mês  6
concluido
Mês  7
concluido
Mês  8
concluido
Mês  9
concluido

In [25]:
# 1997 até 1999, mês 10 até 12
for i in range(7,10):
  print('Ano 199{}'.format(i))
  for p in range(0,3):
    print('Mês 1{}'.format(p))
    URL = f'http://www.nuforc.org/webreports/ndxe199{i}1{p}.html'
    headers={
        'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
    }
    page = requests.get(URL,headers=headers)
    soup = BeautifulSoup(page.content,'html.parser')
    table = soup.findAll('table')[0]
    tr = table.findAll(['tr'])
    try:   
            for cell in tr:
                td = cell.find_all('td')
                row = [i.text.replace('\n','') for i in td]
                td_data.append(row)
    finally:   
        print('concluido')

Ano 1997
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 1998
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 1999
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido

In [26]:
#2000 até 2009 e mês de 1 até 9
for i in range(0,10):
  print('Ano 200{}'.format(i))
  for p in range(1,10):
    print('Mês {}'.format(p))
    URL = f'http://www.nuforc.org/webreports/ndxe200{i}0{p}.html'
    headers={
        'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
    }
    page = requests.get(URL,headers=headers)
    soup = BeautifulSoup(page.content,'html.parser')
    table = soup.findAll('table')[0]
    tr = table.findAll(['tr'])
    try:   
            for cell in tr:
                td = cell.find_all('td')
                row = [i.text.replace('\n','') for i in td]
                td_data.append(row)
    finally:   
        print('concluido')

Ano 2000
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2001
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2002
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2003
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2004
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2005
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2006
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2007
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2008
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2009
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido

In [27]:
#2000 até 2009 e mês de 10 até 12
for i in range(0,10):
  print('Ano 200{}'.format(i))
  for p in range(0,3):
    print('Mês 1{}'.format(p))
    URL = f'http://www.nuforc.org/webreports/ndxe200{i}1{p}.html'
    headers={
        'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
    }
    page = requests.get(URL,headers=headers)
    soup = BeautifulSoup(page.content,'html.parser')
    table = soup.findAll('table')[0]
    tr = table.findAll(['tr'])
    try:   
            for cell in tr:
                td = cell.find_all('td')
                row = [i.text.replace('\n','') for i in td]
                td_data.append(row)
    finally:   
        print('concluido')

Ano 2000
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2001
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2002
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2003
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2004
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2005
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2006
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2007
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2008
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2009
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido

In [28]:
#2010 até 2016, mês de 1 até 9
for i in range(0,7):
  print('Ano 201{}'.format(i))
  for p in range(1,10):
    print('Mês {}'.format(p))
    URL = f'http://www.nuforc.org/webreports/ndxe201{i}0{p}.html'
    headers={
        'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
    }
    page = requests.get(URL,headers=headers)
    soup = BeautifulSoup(page.content,'html.parser')
    table = soup.findAll('table')[0]
    tr = table.findAll(['tr'])
    try:   
            for cell in tr:
                td = cell.find_all('td')
                row = [i.text.replace('\n','') for i in td]
                td_data.append(row)
    finally:   
        print('concluido')

Ano 2010
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2011
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2012
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2013
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2014
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2015
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido
Ano 2016
Mês 1
concluido
Mês 2
concluido
Mês 3
concluido
Mês 4
concluido
Mês 5
concluido
Mês 6
concluido
Mês 7
concluido
Mês 8
concluido
Mês 9
concluido

In [29]:
#2010 até 2016, mês de 10 até 12
for i in range(0,7):
  print('Ano 201{}'.format(i))
  for p in range(0,3):
    print('Mês 1{}'.format(p))
    URL = f'http://www.nuforc.org/webreports/ndxe201{i}1{p}.html'
    headers={
        'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
    }
    page = requests.get(URL,headers=headers)
    soup = BeautifulSoup(page.content,'html.parser')
    table = soup.findAll('table')[0]
    tr = table.findAll(['tr'])
    try:   
            for cell in tr:
                td = cell.find_all('td')
                row = [i.text.replace('\n','') for i in td]
                td_data.append(row)
    finally:   
        print('concluido')

Ano 2010
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2011
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2012
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2013
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2014
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2015
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido
Ano 2016
Mês 10
concluido
Mês 11
concluido
Mês 12
concluido

In [30]:
#2017 mês de agosto
print('Ano 2017')
for p in range(1,9):
  print('Mês ',p)
  URL = f'http://www.nuforc.org/webreports/ndxe20170{p}.html'
  headers={
      'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
  }
  page = requests.get(URL,headers=headers)
  soup = BeautifulSoup(page.content,'html.parser')
  table = soup.findAll('table')[0]
  tr = table.findAll(['tr'])
  try:   
          for cell in tr:
              td = cell.find_all('td')
              row = [i.text.replace('\n','') for i in td]
              td_data.append(row)
  finally:   
      print('concluido')

Ano 2017
Mês  1
concluido
Mês  2
concluido
Mês  3
concluido
Mês  4
concluido
Mês  5
concluido
Mês  6
concluido
Mês  7
concluido
Mês  8
concluido

In [31]:
del th_data[1:-1]
th_data.pop(-1)
th_data

[['Date / Time', 'City', 'State', 'Shape', 'Duration', 'Summary', 'Posted']]

In [32]:
df = pd.DataFrame(td_data)
df1 = df.dropna()
colum = []
for i in th_data:
  colum = i
df1.columns = colum
df1

         Date / Time  ...    Posted
1      9/30/97 20:00  ...  10/30/06
2      9/22/97 20:00  ...    8/5/09
3            9/19/97  ...   12/1/19
4      9/18/97 20:15  ...   3/13/12
5      9/15/97 00:00  ...   7/19/10
...              ...  ...       ...
72136   8/1/17 02:45  ...    8/4/17
72137   8/1/17 02:00  ...    8/4/17
72138   8/1/17 01:00  ...    5/9/19
72139   8/1/17 00:00  ...   2/13/20
72140         8/1/17  ...   6/25/20

[71901 rows x 7 columns]

In [33]:
df1.to_csv('OVNIS.csv',index=False)
total = pd.read_csv('OVNIS.csv')
total

         Date / Time  ...    Posted
0      9/30/97 20:00  ...  10/30/06
1      9/22/97 20:00  ...    8/5/09
2            9/19/97  ...   12/1/19
3      9/18/97 20:15  ...   3/13/12
4      9/15/97 00:00  ...   7/19/10
...              ...  ...       ...
71896   8/1/17 02:45  ...    8/4/17
71897   8/1/17 02:00  ...    8/4/17
71898   8/1/17 01:00  ...    5/9/19
71899   8/1/17 00:00  ...   2/13/20
71900         8/1/17  ...   6/25/20

[71901 rows x 7 columns]