# Trabalhando Com datas

In [1]:
import pandas as pd

In [2]:
#Leitura dos arquivos
df1 = pd.read_excel('../datasets/Aracaju.xlsx')
df2 = pd.read_excel('../datasets/Fortaleza.xlsx')
df3 = pd.read_excel('../datasets/Natal.xlsx')
df4 = pd.read_excel('../datasets/Recife.xlsx')
df5 = pd.read_excel('../datasets/Salvador.xlsx')

In [3]:
df = pd.concat([df1,df2,df3,df4,df5])
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [4]:
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [5]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00    1520     1   142.00
1  Aracaju 2018-01-01   14.21    1522     6    85.26
2  Aracaju 2018-01-01   71.55    1520     1    71.55
3  Aracaju 2018-01-01    3.01    1521     7    21.07
4  Aracaju 2018-01-01   24.51    1522     8   196.08

In [6]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID              int64
Qtde                int64
Receita           float64
dtype: object

In [9]:
df['Data'] = df['Data'].astype('int64')

In [10]:
df.dtypes

Cidade      object
Data         int64
Vendas     float64
LojaID       int64
Qtde         int64
Receita    float64
dtype: object

In [11]:
#Transformando coluna de data em data
df['Data'] = pd.to_datetime(df['Data'])

In [12]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID              int64
Qtde                int64
Receita           float64
dtype: object

In [13]:
#Agrupamento por ano 
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [16]:
#Criando uma nova coluna com o ano
df['Ano_venda'] = df['Data'].dt.year

In [17]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde  Receita  Ano_venda
36   Fortaleza 2019-01-01   36.31    1004     2    72.62       2019
63    Salvador 2019-01-01  166.59    1036     1   166.59       2019
2       Recife 2019-02-10   12.94     983     5    64.70       2019
111  Fortaleza 2019-03-02    8.00     981     3    24.00       2019
187      Natal 2019-01-02    3.85    1035     3    11.55       2019

In [19]:
#Extraindo o mês e o dia
df['mes_venda'], df['dia_venda'] = (df['Data'].dt.month,df['Data'].dt.day)

In [20]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_venda,mes_venda,dia_venda
32,Aracaju,2018-01-01,42.97,1522,6,257.82,2018,1,1
224,Salvador,2019-01-02,178.30,1035,3,534.90,2019,1,2
59,Salvador,2019-01-01,138.27,1034,2,276.54,2019,1,1
41,Aracaju,2018-01-01,229.64,1520,8,1837.12,2018,1,1
54,Fortaleza,2019-01-01,16.73,1002,5,83.65,2019,1,1

In [21]:
#Retornando a data mais antiga
df['Data'].min()

Timestamp('2018-01-01 00:00:00')

In [22]:
df['diferenca_dias'] = df['Data'] - df['Data'].min()

In [23]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_venda,mes_venda,dia_venda,diferenca_dias
103,Recife,2019-01-01,41.65,982,3,124.95,2019,1,1,365 days
41,Fortaleza,2019-02-13,191.29,1002,3,573.87,2019,2,13,408 days
86,Recife,2019-01-01,17.83,982,8,142.64,2019,1,1,365 days
52,Recife,2019-01-01,11.87,981,6,71.22,2019,1,1,365 days
224,Natal,2019-01-02,178.30,1035,3,534.90,2019,1,2,366 days

In [24]:
#Criando coluna de trimestre
df['trimestre_venda'] = df['Data'].dt.quarter

In [25]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
2,Recife,2019-02-10,12.94,983,5,64.70,2019,2,10,405 days,1
72,Recife,2019-01-01,42.32,982,2,84.64,2019,1,1,365 days,1
105,Natal,2019-01-02,32.83,1037,1,32.83,2019,1,2,366 days,1
15,Recife,2019-01-01,7.45,981,2,14.90,2019,1,1,365 days,1
53,Recife,2019-01-01,37.05,983,6,222.30,2019,1,1,365 days,1

In [27]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_2019 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]
vendas_marco_2019.head()

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
108,Fortaleza,2019-03-02,152.89,981,4,611.56,2019,3,2,425 days,1
109,Fortaleza,2019-03-02,18.90,982,6,113.40,2019,3,2,425 days,1
110,Fortaleza,2019-03-02,51.98,983,6,311.88,2019,3,2,425 days,1
111,Fortaleza,2019-03-02,8.00,981,3,24.00,2019,3,2,425 days,1
112,Fortaleza,2019-03-02,133.59,982,1,133.59,2019,3,2,425 days,1

In [29]:
vendas_marco_2019.sample(12)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
137,Fortaleza,2019-03-02,51.99,983,3,155.97,2019,3,2,425 days,1
121,Fortaleza,2019-03-02,41.55,981,3,124.65,2019,3,2,425 days,1
2,Natal,2019-03-11,308.00,852,3,924.00,2019,3,11,434 days,1
19,Natal,2019-03-31,282.00,854,2,564.00,2019,3,31,454 days,1
139,Salvador,2019-03-02,169.01,1036,1,169.01,2019,3,2,425 days,1
131,Recife,2019-03-02,139.07,982,6,834.42,2019,3,2,425 days,1
8,Natal,2019-03-27,667.00,852,4,2668.00,2019,3,27,450 days,1
135,Recife,2019-03-02,10.79,983,5,53.95,2019,3,2,425 days,1
138,Fortaleza,2019-03-02,150.38,983,6,902.28,2019,3,2,425 days,1
141,Salvador,2019-03-02,9.08,1036,1,9.08,2019,3,2,425 days,1
139,Recife,2019-03-02,141.16,980,7,988.12,2019,3,2,425 days,1
32,Natal,2019-03-17,244.00,854,2,488.00,2019,3,17,440 days,1